<h1></h1>
    <div class="employer-list">
      <!-- Bouton Ajouter un employé -->
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Ajouter un employé
  </button>
        <!-- Liste des employés -->
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Numéro de téléphone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Contenu des lignes -->
                <td>Guigma</td>
                <td>Paulino</td>
                <td>Ouagadougou, secteur 25</td>
                <td>64095771</td>
                <td>
                <div>
                <button id="actionButton1"><mat-icon>fa-pencil</mat-icon></button>
                <button id="actionButton2"><mat-icon>fa-trash</mat-icon></button>
                </div>
                </td>
            </tbody>
        </table>
    </div>
