.footer-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: #3F51B5; /* Couleur primaire */
    color: white; /* Texte en blanc */
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
  }
  .footer-toolbar .spacer {
    flex: 1;
  }
  .footer-toolbar a {
    color: #BBDEFB; /* Couleur secondaire pour les liens */
    text-decoration: none;
    font-weight: 30;
  }
  .footer-toolbar a:hover {
    text-decoration: underline;
  }