<app-login *ngIf="displayAppLogin"  (towardHeaderOnClick)="recupLoginOnClick($event)"></app-login>

<!-- header avant d'être connecté -->
<header class="header" *ngIf="loginLoggedInValue1">
  <div class="logo-section">
    <img src="/assets/images/logo/logo.jpg" alt="Logo" class="logo" />
    <a (click)="onHomeClick(false)">    <span class="title">| Mon Entreprise</span></a>
  </div>

  <div class="actions-section">
    <button class="btn subscription" (click)="onLoggedInClick(true)">Se connecter</button>
    <button class="btn subscription" (click)="onSignedUpClick(true)">S'inscrire</button>
  </div>
</header>

<!-- header une fois connecté -->
<header class="header" *ngIf="loginLoggedInValue2">
  <div class="logo-section">
    <img src="src/assets/depositphotos_138965190-stock-illustration-ticket-design-concept.jpg" alt="Logo" class="logo" />
    <span class="title">| Mon Entreprise</span>
  </div>

  <div class="actions-section">
    <button class="btn subscription">Abonnement</button>
    <span class="user-name">Nom utilisateur</span>
    <img src="" alt="User" class="user-avatar" />

    <div class="icons">
      <span class="icon"><mat-icon>star</mat-icon></span>
          <span class="icon">❓</span>
      <span class="icon"><mat-icon>settings</mat-icon></span>
    </div>
  </div>

</header>