<!-- tickets.component.html -->
<div class="tickets-container">
    <div class="header">
        <a mat-button routerLink="/">
        <mat-icon class="ticket-icon">confirmation_number</mat-icon>
            Tickets
        </a>
    </div>

    <mat-tab-group>
       
<mat-tab label="Tout">
<div class="tickets-list">
    <!-- Liste des tickets -->
    <table>
        <thead>
            <tr>
                <th>N</th>
                <th>Statut</th>
                <th>Priorité</th>
                <th>Titre</th>
                <th>Clients</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Réponse</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Contenu des lignes -->
        </tbody>
    </table>
</div>


</mat-tab>
<mat-tab label="Ouvert"></mat-tab>
<mat-tab label="Clôturé"></mat-tab>
<mat-tab label="Satistique"></mat-tab>

     
        
 
       
    </mat-tab-group>

  