<div class="container">
  <h2>Ajouter clients</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">Nom</label>
      <input id="Nom" formControlName="Nom" type="text" class="form-control" placeholder="Nom" />
      <div *ngIf="clientForm.get('Nom')?.invalid && clientForm.get('Nom')?.touched" class="error">
        Le Nom est requis et doit contenir au moins 3 caractères.
      </div>
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input id="adresse" formControlName="adresse" type="text" class="form-control" placeholder="Emplacement de la societe" />
      <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" class="error">
    Emplacement de la societe est requis.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" class="form-control" placeholder="Email" />
      <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" class="error">
        Un email valide est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Téléphone</label>
      <input id="phone" formControlName="phone" type="text" class="form-control" placeholder="Téléphone" />
      <div *ngIf="clientForm.get('phone')?.invalid && clientForm.get('phone')?.touched" class="error">
        Un numéro de téléphone valide est requis.
      </div>
    </div>

   

    <div class="form-group">
      <label for="statut">Status</label>
      <select id="statut" formControlName="statut" class="form-control">
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
    </div>
      <div class="form-group">
        <label for="subscriptionPlan">subscriptionPlan</label>
        <select id="subscriptionPlan" formControlName="subscriptionPlan" class="form-control">
          <option value="Basic">Basic</option>
          <option value="Prenium">Prenium</option>
        </select>
      </div>

    <button type="submit" [disabled]="clientForm.invalid" class="btn btn-primary">Ajouter</button>
  </form>
</div>