<div class="sidenav">
    
    <div class="sidenavContainer">
        <mat-nav-list>
            <!-- Menu Gestion avec liste déroulante -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-icon>settings</mat-icon>
                    <span>Gestion</span>
                </mat-expansion-panel-header>
                <mat-action-list>
                    <a mat-list-item routerLink="employers/employer-liste" routerLinkActive="list-item-active">
                        <mat-icon>people</mat-icon>
                        <span>Employés</span>
                    </a>
                    <a mat-list-item routerLink="/clients/client-list">
                        <mat-icon>person</mat-icon>
                        <span>Clients</span>
                    </a>
                    <a mat-list-item routerLink="/ticket/ticket-list">
                        <mat-icon class="ticket-icon">confirmation_number</mat-icon>
                        <span>ticket</span>
                    </a>
                    <a mat-list-item routerLink="/auth/adresses">
                        <mat-icon>location_on</mat-icon>
                        <span>Adresses</span>
                    </a>
                    <a mat-list-item routerLink="/auth/contrats">
                        <mat-icon>description</mat-icon>
                        <span>Contrats</span>
                    </a>
                    <a mat-list-item routerLink="/auth/installations">
                        <mat-icon>build</mat-icon>
                        <span>Installations</span>
                    </a>
                    <a mat-list-item routerLink="/auth/produits">
                        <mat-icon>inventory</mat-icon>
                        <span>Produits</span>
                    </a>
                    <a mat-list-item routerLink="/auth/fichiers">
                        <mat-icon>folder</mat-icon>
                        <span>Fichiers</span>
                    </a>
                    <a mat-list-item routerLink="/auth/devis-factures">
                        <mat-icon>receipt</mat-icon>
                        <span>Devis & Factures</span>
                    </a>
                </mat-action-list>
                
            </mat-expansion-panel>
        </mat-nav-list>
      
    </div>
    <div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-icon>shopping_cart</mat-icon>
                <span>Achat</span>
            </mat-expansion-panel-header>
            <mat-action-list>
                <a mat-list-item routerLink="" routerLinkActive="list-item-active">
                    <mat-icon>assistwalker</mat-icon>
                    <span>Intervention</span>
                </a>
                <a mat-list-item routerLink="">
                    <mat-icon>calendar_today</mat-icon>
                    <span>Pointage</span>
                </a>
                <a mat-list-item routerLink="">
                    <mat-icon class="ticket-icon">bar_chart</mat-icon>
                    <span>Satistique</span>
                </a>
                <a mat-list-item routerLink="/ticket/adresses">
                    <mat-icon>email</mat-icon>
                    <span>Messagerie</span>
                </a>
            
            </mat-action-list>
        </mat-expansion-panel>
       
    </div>
</div>
