<div class="sidenavContainer">
    <mat-nav-list>
        <a mat-list-item routerLink="/ticket/employer" routerLinkActive="list-item-active">
            <div class="btn1">
                <mat-icon>home</mat-icon>
                <h3>Employés</h3>
            </div>
        </a>
        <a mat-list-item routerLink="/ticket/client">
            <div class="btn">
                <mat-icon></mat-icon>
                <h3>
                    Clients
                </h3>
            </div>
        </a>
        <a mat-list-item routerLink="/myKN/book">
            <div class="btn">

                <h3>
                    Adresses
                </h3>
            </div>
        </a>
    </mat-nav-list>
</div>