.sidnav{
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.sidenavContainer {
    font-size: 1.2rem;
    width: 100%; /* Largeur de la sidebar */
    background-color: #f8f9fa; /* Couleur de fond de la sidebar */
    padding: 0px;
    display: flex;
    
  
}
mat-nav-list{
  padding-left: 3px;
  width: 100%;
  left: 0;
}
.mat-expansion-panel {
    font-size: 1em;
    border: none; /* Supprime les bordures des panels */
    box-shadow: none;
    left: 0;
    margin-bottom: 10px;
    width: 100%;
}
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
    min-width: 24px;
    text-align: center;
  }
  .mat-list-item {
    color: #f0f0f7 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
  }
  .mat-list-item::ng-deep .mat-list-item-content {
    border-radius: 5px;
    margin: 0 0px;
  }
  .mat-list-item:hover::ng-deep .mat-list-item-content {
    background-color: #475982;
  }
  .list-item-active {
    color: #F2F5F7 !important;
  }
  .list-item-active::ng-deep .mat-list-item-content {
    background-color: #2C3344 !important;
  }
  .list-item-active:hover::ng-deep .mat-list-item-content {
    background-color: #2C3344 !important;
  }
  a {
    text-decoration: none;
  }
  .btn,
  .btn1 {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
  }
  .btn {
    justify-content: space-between;
  }
  .btnar {
    margin-left: 50px;
    font-size: 25px;
  }
  h3 {
    margin: 0;
    flex: 1;
  }
  .ticket-icon {
  color: #ff5722; /* Couleur orange */
  font-size: 36px; /* Taille personnalisée */
}
div{
  border: none;
  border-radius: none;
}