
<h2>Ajouter un Ticket</h2>
<form>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Titre</mat-label>
        <input matInput placeholder="Entrez le titre" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Titre</mat-label>
        <input matInput placeholder="Entrez le titre" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Entrez la description"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">Enregistrer</button>
</form>