:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
  }
  
  .container {
    max-width: 100%;
    /* margin: 50px auto; */
    padding: 20px;
    background-color: #f9f9f9; /* Couleur de fond douce */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    font-family: Arial, sans-serif;
  }

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Styles pour le formulaire */
form {
    max-width: 950%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .nformgroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    
    gap: 1%;
    width: 100%;
    margin: 1% 0%;
    padding: 1%;
    /* border: 1px solid #333; */
    /* border-radius: 5%; */
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  