<h1></h1>
    <div class="client-list">
      <!-- Bouton Ajouter un client -->
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Ajouter un client
    </button>
        <!-- Liste des clients -->
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Numéro de téléphone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Contenu des lignes -->
                <td>Guigma</td>
                <td>Paulino</td>
                <td>Ouagadougou, secteur 25</td>
                <td>64095771</td>
                <td>
                <div>
                    <button id="actionButton1"><mat-icon>create</mat-icon></button>
                    <button id="actionButton2"><mat-icon>delete_forever</mat-icon></button>
                </div>
                </td>
            </tbody>
        </table>
    </div>
