<div class="card">
    <p-dialog [modal]="true" [(visible)]="visible" [position]="position" [style]="{ width: '40rem', height: '30rem' }">
        <!-- <p-dialog [header]="header" [modal]="true" [(visible)]="visible" [position]="position" [style]="{ width: '50rem', height: '500px' }"> -->
        <app-ajouter-employer *ngIf="ajouterDialog"></app-ajouter-employer>
        <app-modifier-employer *ngIf="modifierDialog"></app-modifier-employer>
    </p-dialog>
</div>

<!-- //////////////////////////////////::NAVBAR:///////////////////// -->
<!-- tickets.component.html -->
    
<div class="navbar col-md-12">
    <!-- Bouton Ajouter un ticket -->
    <button mat-raised-button color="primary" (click)="showAjouterDialog('center')" label="center" styleClass="min-w-40">
        <mat-icon>add</mat-icon>
        Ajouter un employé
    </button>

    <!-- Sélecteur de dates -->
    <button mat-stroked-button [matMenuTriggerFor]="dateMenu">
        <mat-icon>calendar_today</mat-icon>
        date min. - date max.
        <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #dateMenu="matMenu">

    </mat-menu>

    <!-- Filtres -->
    <button mat-stroked-button [matMenuTriggerFor]="filterMenu">
        <mat-icon>filter_list</mat-icon>
        Filtres
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #filterMenu="matMenu">
        <!-- Contenu du menu des filtres -->
    </mat-menu>

    <!-- Spacer -->
    <span class="spacer"></span>

    <!-- Boutons à gauche -->
    <div class="left-items">
        <button mat-icon-button>
            <mat-icon>bookmark</mat-icon>
        </button>

        <button mat-stroked-button>
            <mat-icon>download</mat-icon>
            Export
        </button>

        <button mat-icon-button>
            <mat-icon>print</mat-icon>
        </button>

        <button mat-stroked-button [matMenuTriggerFor]="displayMenu">
            <mat-icon>arrow_drop_down</mat-icon>
            <mat-icon>table_chart</mat-icon>
            Options d'affichage
        </button>
        <mat-menu #displayMenu="matMenu">
            <!-- Options d'affichage -->
        </mat-menu>

        <button mat-icon-button>
            <mat-icon>help</mat-icon>
        </button>
    </div>
</div>



<!-- ////////////////////////////////////////////////////////////////::::TABLE::://////////////////////////////////////// -->
<h1></h1>
    <div class="employer-list">
      <!-- Bouton Ajouter un employé -->
        <!-- <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Ajouter un employé
        </button> -->
        <!-- Liste des employés -->
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Rôle</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let employe of employerList">
                <!-- Contenu des lignes -->
                <td>{{employe.id}}</td>
                <td>{{employe.lastName}}</td>
                <td>{{employe.firstName}}</td>
                <td>{{employe.phone}}</td>
                <td>{{employe.email}}</td>
                <td>{{employe.role}}</td>
                <td>
                <div>
                    <button (click)="showModifierDialog('right')" id="actionButton1"><mat-icon>create</mat-icon></button>
                    <button id="actionButton2"><mat-icon>delete_forever</mat-icon></button>
                </div>
                </td>
            </tbody>
        </table>
    </div>