<!-- <app-navbar></app-navbar> -->



<!-- tickets.component.html -->
    
    <div class="navbar col-md-12">
        <!-- Bouton Ajouter un ticket -->
        <button mat-raised-button color="primary" (click)="showDialog('right')" label="right" styleClass="min-w-40">
            <mat-icon>add</mat-icon>
            Ajouter un ticket
        </button>
    
        <!-- Sélecteur de dates -->
        <button mat-stroked-button [matMenuTriggerFor]="dateMenu">
            <mat-icon>calendar_today</mat-icon>
            date min. - date max.
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
    
        <mat-menu #dateMenu="matMenu"></mat-menu>
    
        <!-- Filtres -->
        <button mat-stroked-button [matMenuTriggerFor]="filterMenu">
            <mat-icon>filter_list</mat-icon>
            Filtres
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #filterMenu="matMenu">
            <!-- Contenu du menu des filtres -->
        </mat-menu>
    
        <!-- Spacer -->
        <span class="spacer"></span>
    
        <!-- Boutons à gauche -->
        <div class="left-items">
            <button mat-icon-button>
                <mat-icon>bookmark</mat-icon>
            </button>
    
            <button mat-stroked-button>
                <mat-icon>download</mat-icon>
                Export
            </button>
    
            <button mat-icon-button>
                <mat-icon>print</mat-icon>
            </button>
    
            <button mat-stroked-button [matMenuTriggerFor]="displayMenu">
                <mat-icon>arrow_drop_down</mat-icon>
                <mat-icon>table_chart</mat-icon>
                Options d'affichage
            </button>
            <mat-menu #displayMenu="matMenu">
                <!-- Options d'affichage -->
            </mat-menu>
    
            <button mat-icon-button>
                <mat-icon>help</mat-icon>
            </button>
        </div>
    </div>



    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        
        <mat-tab label="Tout">
            <div class="tickets-list">
                <!-- Liste des tickets -->
                <table>
                    <thead>
                        <tr>
                            <th>N</th>
                            <th>Statut</th>
                            <th>Priorité</th>
                            <th>Titre</th>
                            <th>Clients</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th>Réponse</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>1</td>
                        <td>résolu</td>
                        <td>1</td>
                        <td>reparatin ecran</td>
                        <td>Gango youssef</td>
                        <td>12/12/2024</td>
                        <td>7/1/2025</td>
                        <td>Done</td>
                        <td>
                        <div>
                        <button id="actionButton1"><mat-icon>create</mat-icon></button>
                        <button id="actionButton2"><mat-icon>delete_forever</mat-icon></button>
                        </div>
                        </td>
                        <!-- Contenu des lignes -->
                    </tbody>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="Ouvert">
          <div class="tickets-list">

            <!-- Liste des tickets -->
            <table>
            <thead>
                <tr>
                    <th>N</th>
                    <th>Statut</th>
                    <th>Priorité</th>
                    <th>Titre</th>
                    <th>Clients</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Réponse</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Contenu des lignes -->
                <td>1</td>
                <td>résolu</td>
                <td>1</td>
                <td>reparatin ecran</td>
                <td>Gango youssef</td>
                <td>12/12/2024</td>
                <td>7/1/2025</td>
                <td>Done</td>
                <td>
                    <div>
                        <button id="actionButton1"><mat-icon>create</mat-icon></button>
                        <button id="actionButton2"><mat-icon>delete_forever</mat-icon></button>
                    </div>
                </td>
            </tbody>
            </table>
            </div>
        </mat-tab>
        <mat-tab label="Clôturé">
          <div class="tickets-list">

          <!-- Liste des tickets -->
          <table>
            <thead>
                <tr>
                    <th>N</th>
                    <th>Statut</th>
                    <th>Priorité</th>
                    <th>Titre</th>
                    <th>Clients</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Réponse</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Contenu des lignes -->
                <td>1</td>
                <td>résolu</td>
                <td>1</td>
                <td>reparatin ecran</td>
                <td>Gango youssef</td>
                <td>12/12/2024</td>
                <td>7/1/2025</td>
                <td>Done</td>
                <td>
                <div>
                    <button id="actionButton1"><mat-icon>create</mat-icon></button>
                    <button id="actionButton2"><mat-icon>delete_forever</mat-icon></button>
                </div>
                </td>
            </tbody>
        </table>
    </div>
        </mat-tab>
        <mat-tab label="Statistiques">
          <div class="tickets-list">

<!-- Liste des tickets -->
<table>
  <thead>
      <tr>
          <th>N</th>
          <th>Statut</th>
          <th>Priorité</th>
          <th>Titre</th>
          <th>Clients</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Réponse</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <!-- Contenu des lignes -->
      <td>1</td>
      <td>résolu</td>
      <td>1</td>
      <td>reparatin ecran</td>
      <td>Gango youssef</td>
      <td>12/12/2024</td>
      <td>7/1/2025</td>
      <td>Done</td>
      <td>
      <div>
        <button id="actionButton1"><mat-icon>create</mat-icon></button>
        <button id="actionButton2"><mat-icon>delete_forever</mat-icon></button>
      </div>
      </td>
  </tbody>
</table>
</div>
        </mat-tab>
      </mat-tab-group>

      <div class="card">
        <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [position]="position" [style]="{ width: '50rem' }">
            <app-ajouter></app-ajouter>
        </p-dialog>
    </div>