<!-- <app-navbar></app-navbar> -->

<!-- tickets.component.html -->
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Tout">
            <div class="tickets-list">
            <button mat-raised-button color="primary">
                <mat-icon>add</mat-icon>
                Ajouter tickets
            </button>
                <!-- Liste des tickets -->
                <table>
                    <thead>
                        <tr>
                            <th>N</th>
                            <th>Statut</th>
                            <th>Priorité</th>
                            <th>Titre</th>
                            <th>Clients</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th>Réponse</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>1</td>
                        <td>résolu</td>
                        <td>1</td>
                        <td>reparatin ecran</td>
                        <td>Gango youssef</td>
                        <td>12/12/2024</td>
                        <td>7/1/2025</td>
                        <td>Done</td>
                        <td>
                        <div>
                        <button id="actionButton1"><mat-icon>create</mat-icon></button>
                        <button id="actionButton2"><mat-icon>delete_forever</mat-icon></button>
                        </div>
                        </td>
                        <!-- Contenu des lignes -->
                    </tbody>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="Ouvert">
          <div class="tickets-list">

            <!-- Liste des tickets -->
            <table>
            <thead>
                <tr>
                    <th>N</th>
                    <th>Statut</th>
                    <th>Priorité</th>
                    <th>Titre</th>
                    <th>Clients</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Réponse</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Contenu des lignes -->
                <td>1</td>
                <td>résolu</td>
                <td>1</td>
                <td>reparatin ecran</td>
                <td>Gango youssef</td>
                <td>12/12/2024</td>
                <td>7/1/2025</td>
                <td>Done</td>
                <td>
                    <div>
                        <button id="actionButton1"><mat-icon>create</mat-icon></button>
                        <button id="actionButton2"><mat-icon>delete_forever</mat-icon></button>
                    </div>
                </td>
            </tbody>
            </table>
            </div>
        </mat-tab>
        <mat-tab label="Clôturé">
          <div class="tickets-list">

          <!-- Liste des tickets -->
          <table>
            <thead>
                <tr>
                    <th>N</th>
                    <th>Statut</th>
                    <th>Priorité</th>
                    <th>Titre</th>
                    <th>Clients</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Réponse</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Contenu des lignes -->
                <td>1</td>
                <td>résolu</td>
                <td>1</td>
                <td>reparatin ecran</td>
                <td>Gango youssef</td>
                <td>12/12/2024</td>
                <td>7/1/2025</td>
                <td>Done</td>
                <td>
                <div>
                    <button id="actionButton1"><mat-icon>create</mat-icon></button>
                    <button id="actionButton2"><mat-icon>delete_forever</mat-icon></button>
                </div>
                </td>
            </tbody>
        </table>
    </div>
        </mat-tab>
        <mat-tab label="Statistiques">
          <div class="tickets-list">

<!-- Liste des tickets -->
<table>
  <thead>
      <tr>
          <th>N</th>
          <th>Statut</th>
          <th>Priorité</th>
          <th>Titre</th>
          <th>Clients</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Réponse</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <!-- Contenu des lignes -->
      <td>1</td>
      <td>résolu</td>
      <td>1</td>
      <td>reparatin ecran</td>
      <td>Gango youssef</td>
      <td>12/12/2024</td>
      <td>7/1/2025</td>
      <td>Done</td>
      <td>
      <div>
        <button id="actionButton1"><mat-icon>create</mat-icon></button>
        <button id="actionButton2"><mat-icon>delete_forever</mat-icon></button>
      </div>
      </td>
  </tbody>
</table>
</div>
        </mat-tab>
      </mat-tab-group>
