.navbar {
    background-color: #fff; /* Couleur de fond */
    padding:10px;
    display: flex;
    align-items: center;
}

.navbar-container {
    display: flex;
    width: 100%;
   
}

.spacer {
    flex-grow: 1; /* Crée un espace flexible */
}

.navbar-container > button {
    margin-right: 50px; 
}



.navbar-container > button:first-child {
    position: left;
 /* Ajuste cette valeur selon le décalage souhaité */
   left: 10px; /* Ajuste pour le positionnement horizontal */
 
}
