<div class="navbar">
    <!-- Bouton Ajouter un ticket -->
    <!-- <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Ajouter un ticket
    </button> -->

    <!-- Sélecteur de dates -->
    <button mat-stroked-button [matMenuTriggerFor]="dateMenu">
        <mat-icon>calendar_today</mat-icon>
        date min. - date max.
        <mat-icon>arrow_drop_down</mat-icon>
       
    </button>

    <mat-menu #dateMenu="matMenu"></mat-menu>

    <!-- Filtres -->
    <button mat-stroked-button [matMenuTriggerFor]="filterMenu">
        <mat-icon>filter_list</mat-icon>
        Filtres
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #filterMenu="matMenu">
  
    </mat-menu>

    <!-- Spacer -->
    <span class="spacer"></span>

    <!-- Boutons à gauche -->
    <div class="left-items">
        <button mat-icon-button>
            <mat-icon>bookmark</mat-icon>
        </button>

        <button mat-stroked-button>
            <mat-icon>download</mat-icon>
            Export
        </button>

        <button mat-icon-button>
            <mat-icon>print</mat-icon>
        </button>

        <button mat-stroked-button [matMenuTriggerFor]="displayMenu">
            <mat-icon>arrow_drop_down</mat-icon>
            <mat-icon>table_chart</mat-icon>
            Options d'affichage
        </button>
        <mat-menu #displayMenu="matMenu">
            <!-- Options d'affichage -->
        </mat-menu>

        <button mat-icon-button>
            <mat-icon>help</mat-icon>
        </button>
    </div>
</div>