
<div class="container">
    <app-header></app-header>
    <mat-drawer-container>
        <mat-drawer mode="side" opened="True">
            <app-sidenav></app-sidenav>
        </mat-drawer>

        <mat-drawer-content>
            <app-navbar></app-navbar>
            <div class="content contentElement">
                <router-outlet> </router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
    <app-footer></app-footer>
</div>

<!-- <div class="footerElement">
</div> -->
