<div class="container col-12 col-md-12">
    <h2>Inscription</h2>
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit()">

        <div class="d-flex flex-row flex-row-wrap justify-content-between col-12 col-md-12">

            <div class="col-6 col-md-6 form-group">
                <label for="name">Nom</label>
                <input id="name" type="text" formControlName="name" class="form-control" placeholder="Votre nom complet"
                    required />
                <div *ngIf="formulaire.get('name')?.invalid && formulaire.get('name')?.touched">
                    <small>Le nom est requis.</small>
                </div>
            </div>
    
            <div class="col-6 col-md-6 form-group">
                <label for="email">Adresse e-mail</label>
                <input id="email" type="email" formControlName="email" class="form-control"
                    placeholder="Votre adresse e-mail" />
                <div *ngIf="formulaire.get('email')?.invalid && formulaire.get('email')?.touched">
                    <small>L'adresse e-mail est requise.</small>
                    <small *ngIf="formulaire.get('email')?.errors?.['email']">L'adresse e-mail n'est pas valide.</small>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row flex-row-wrap justify-content-between col-12 col-md-12">

            <div class="col-6 col-md-6 form-group">
                <label for="adresse">Adresse </label>
                <input id="adresse" type="text" formControlName="adresse" class="form-control" placeholder="Ex: 'ville, quartier, secteur xx" />
                <div *ngIf="formulaire.get('adresse')?.invalid && formulaire.get('adresse')?.touched">
                    <small>L'adresse est requise.</small>
                    <small *ngIf="formulaire.get('adresse')?.errors?.['adresse']">L'adresse e-mail n'est pas valide.</small>
                </div>
            </div>
    
            <div class="col-6 col-md-6 form-group">
                <label for="phone">Téléphone</label>
                <input id="phone" type="text" formControlName="phone" class="form-control"
                    placeholder="Votre numéro de téléphone" />
                <div *ngIf="formulaire.get('phone')?.invalid && formulaire.get('phone')?.touched">
                    <small>Le numéro de téléphone est requis.</small>
                    <small *ngIf="formulaire.get('phone')?.errors?.['minlength']">Le numéro de téléphone doit contenir au
                        moins 8 chiffres.</small>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row flex-row-wrap justify-content-between col-12 col-md-12">

            <div class="col-6 col-md-6 form-group">
                <label for="status">Statut</label>
                <select id="status" formControlName="status" class="form-control">
                    <option value="">Sélectionnez un statut</option>
                    <option value="Active">Actif</option>
                    <option value="Inactive">Inactif</option>
                </select>
                <div *ngIf="formulaire.get('status')?.invalid && formulaire.get('status')?.touched">
                    <small>Le statut est requis.</small>
                </div>
            </div>
    
            <div class="col-6 col-md-6 form-group">
                <label for="subscriptionPlan">Plan d'abonnement</label>
                <select id="subscriptionPlan" formControlName="subscriptionPlan" class="form-control">
                    <option value="">Sélectionnez un plan</option>
                    <option value="Basic">Basique</option>
                    <option value="Premium">Premium</option>
                </select>
                <div *ngIf="formulaire.get('subscriptionPlan')?.invalid && formulaire.get('subscriptionPlan')?.touched">
                    <small>Le plan d'abonnement est requis.</small>
                </div>
            </div>
        </div>

        <div class="d-flex flex-row flex-row-wrap justify-content-between col-12 col-md-12">

            <div class="col-6 col-md-6 form-group">
                <label for="password">Mot de passe</label>
                <input id="password" type="password" formControlName="password" class="form-control"
                    placeholder="Votre mot de passe" minlength="8" />
                <div *ngIf="formulaire.get('password')?.invalid && formulaire.get('password')?.touched">
                    <small>Le mot de passe est requis.</small>
                    <small *ngIf="formulaire.get('password')?.errors?.['minlength']">Le mot de passe doit comporter au moins
                        8 caractères.</small>
                </div>
            </div>
    
            <div class="col-6 col-md-6 form-group">
                <label for="confirmPassword">Confirmer le mot de passe</label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control"
                    placeholder="Confirmez votre mot de passe" />
                <div *ngIf="formulaire.get('confirmPassword')?.invalid && formulaire.get('confirmPassword')?.touched">
                    <small>La confirmation du mot de passe est requise.</small>
                </div>
                <div *ngIf="formulaire.hasError('mismatch') && formulaire.get('confirmPassword')?.touched">
                    <small>Les mots de passe ne correspondent pas.</small>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="formulaire.invalid">S'inscrire</button>
    </form>
</div>