.container {
  max-width: 900px;
  /* margin: 50px auto; */
  padding: 20px;
  background-color: #f9f9f9; /* Couleur de fond douce */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
  font-family: Arial, sans-serif;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  justify-content: center;
  align-content: center;
}

form .groupe{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3%;
}


.registration-container {
  width: 95%;
  margin: 0px auto;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.form-group {
  /* margin: 15px; */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
}

button:hover:not(:disabled) {
  background: #0056b3;
}

div  {
  color: red;
  font-size: 12px;
  

}
small{
  color: red;
}
