<!-- header une fois connecté -->
<header class="header">
    <div class="logo-section">
      <img src="/assets/images/logo/logo.jpg" alt="Logo" class="logo" />
      <span class="title">| Mon Entreprise</span>
    </div>
  
    <div class="actions-section">
      <button class="btn subscription">Abonnement</button>
      <span class="user-name">Youss&Paul</span>
      <!-- <img src="" alt="User" class="user-avatar" /> -->
       <mat-icon>people</mat-icon>
  
      <div class="icons">
        <span class="icon"><mat-icon>star</mat-icon></span>
            <span class="icon">❓</span>
        <span class="icon"><mat-icon>settings</mat-icon></span>
      </div>
    </div>
  
  </header>