
#tableHeader th{
    background-color: #5466ca8c;
    /* background-color: #4758B8; */
    backface-visibility: hidden;
    /* position: fixed; */
    width: 100%;
  }
  
  .searchInput{
    width: 50%;
  }
  /* //////////////////////////////////////////////////////////////////////// */
  #actionButton1{
    font-size: 10px;
    color: green;
    }
  #actionButton2{
    font-size: 10px;
    color: red;
  }
  button{
    margin: 10px;
  }
      
  /* css pour le navbar */
      .navbar1 {
        background-color: #fff; /* Couleur de fond */
        padding:10px;
        display: flex;
        align-items: center;
    }
    
    .navbar-container {
        display: flex;
        width: 100%;
       
    }
    
    .spacer {
        flex-grow: 1; /* Crée un espace flexible */
    }
    
    .navbar-container > button {
        margin-right: 50px; 
    }
    
    .navbar-container > button:first-child {
        position: left;
     /* Ajuste cette valeur selon le décalage souhaité */
       left: 10px; /* Ajuste pour le positionnement horizontal */
     
    }
  
  
  :host ::ng-deep .p-progressbar{
          height: .5rem;
          background-color: #D8DADC;
  }
  
  :host ::ng-deep .p-progressba .p-progressbar-value {
            background-color: #607D8B;
  }
  