*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 100px;
}
.card{
    width: auto;
}

body{
    background-color: #080710;
    overflow-y: scroll;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    background-repeat: repeat-y;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
    z-index: 0.5;
}
.section{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 520px;
    width: 60%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    /* overflow-y: scroll; */
}
section *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
section h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

app-login{
    width: 95%;
}

app-signup{
    width: 95%;
}

.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

app-header {
    z-index: 999;
    position: fixed;
    width: 100%;
}
