<app-header 
    (towardHomeLoggedInClick)="recuponLoggedInClick($event)"
    (towardHomeSignedUpClick)="recuponSignedUpClick($event)"
    (towardHomeClick)="recuponHomeClick($event)"
    [changeHeader]="changeHeader">
</app-header>
<body>
    
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <section>
        <app-login *ngIf="loggedInClick1" (towardHeaderOnClick)="recupLoginOnClick($event)"></app-login>
        <app-signup *ngIf="signedUpClick2"></app-signup>
    </section>

</body>
<app-footer></app-footer>
