<div class="login-container">
    <div class="">
        <h2><span style="font-weight: bold;">Connexion</span></h2>
        <form [formGroup]="formule" (ngSubmit)="onSubmit()">
            <!-- Email -->
            <div class="row form-group">
                <label for="email">Adresse e-mail</label>
                <div class="input-container">
                    <input id="email" type="email" formControlName="email" class="form-control"
                        placeholder="Votre adresse e-mail" />
                </div>
                <p class="error" *ngIf="formule.get('email')?.invalid && formule.get('email')?.touched">
                    veuillez entrer une adresse e-mail valide
                </p>
            </div>

            <!-- Mot de passe -->
            <div class="row form-group">
                <label for="password">Mot de passe</label>
                <div class="input-container">
                    <input id="password" type="password" formControlName="password" class="form-control" placeholder="Votre mot de passe " />
                </div>
                <p class="error" *ngIf="formule.get('password')?.invalid && formule.get('password')?.touched">
                     Le mot de passe est requis
                </p>
            </div>

            <!-- Bouton de connexion -->
            <div class="row form-group actions">
                <button type="submit" class="btn-login" [disabled]="formule.invalid">Se connecter</button>
            </div>
        </form>

        <div class="d-flex flex-column flex-gap-2 create-account">
            <a href="#" class="forgot-password mt-1">Mot de passe oublié ?</a>
            <!-- <p>Pas encore de compte ?</p> -->
            <!-- <a href="#" class="btn-create-account">Créer un compte</a> -->
        </div>
    </div>
</div>